#resume {
    background: url(../img/test-bg.png);
    background-position: center;
    background-size: auto;
}

.section-title p {
    margin-bottom: 0;
    font-size: 18px;
}

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
}

@media (min-width: 1200px) {
    .h3, h3 {
        font-size: 1.75rem;
    }
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
}
.h4, h4 {
    font-size: calc(1.275rem + .3vw);
}

.resume .resume-item ul {
    padding-left: 20px;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.btn_cv {
    display: flex;
    justify-content: center;
    /* margin: 0 auto !important; */
}
.btn_cv .cv_btn {
    background: #149ddd;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}
a {
    color: #149ddd;
    text-decoration: none;
}
